
.btn-blue {
	background-color: #C39BD3;
	border-radius: 4px;
	color: white;
	font-family:'Nunito', sans-serif; 
	font-weight: bold;
	padding: 15px 20px;
}

.btn-blue1{
	background-color: #C39BD3;
	border-radius: 4px;
	color: white;
	font-family:'Nunito', sans-serif; 
	font-weight: bold;
	padding: 15px 20px;
}

.btn-blue2 {
	background-color: #C39BD3;
	border-radius: 4px;
	color: white;
	font-family:'Nunito', sans-serif; 
	font-weight: bold;
	padding: 15px 20px;

}

